<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ObserveME</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

  
</head>


<body>
  	

<form action="/login" method="post">
    <h2>ObserveME</h2>
  <h3>Log In</h3>
        <p>
			<label for="Email" class="floatLabel">Email</label>
			<input id="Email" name="Email" type="text">
		</p>
		<p>
			<label for="lg_password" class="floatLabel">Password</label>
			<input id="lg_password" name="lg_password" type="password">
		</p>
		<p>
			<input type="submit" value="Log In" id="submit">
		</p>


    {% if message %}
    <h3>{{ message }}</h3>
    {% endif %}

	</form>

<form action="/register" method="get">
    <h3>Register</h3>
		<p>
			<input type="submit" value="Create My Account" id="submit">
		</p>
	</form>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="{{ url_for('static', filename='js/register.js')}}"></script>

</body>
</html>
